%li{class: 'index-page-contents__feeds__feeds-area__feed-lists__feed'}
  .index-page-contents__feeds__feeds-area__feed-lists__feed__left
    = link_to 'by yusoshi', '#', class: 'index-page-contents__feeds__feeds-area__feed-lists__feed__user-name'
    = link_to 'パーカスはすごい', '#', class: 'index-page-contents__feeds__feeds-area__feed-lists__feed__feed-title'
    %ul{class: 'index-page-contents__feeds__feeds-area__feed-lists__feed__tags'}
      %li{class: 'index-page-contents__feeds__feeds-area__feed-lists__feed__tags__tag'}パーカス
      %li{class: 'index-page-contents__feeds__feeds-area__feed-lists__feed__tags__tag'}ノリ
  .index-page-contents__feeds__feeds-area__feed-lists__feed__right
    articleモデル作成後、good&comment追加
%li{class: 'index-page-contents__feeds__feeds-area__feed-lists__feed'}
  .index-page-contents__feeds__feeds-area__feed-lists__feed__left
    = link_to 'by yusoshi', '#', class: 'index-page-contents__feeds__feeds-area__feed-lists__feed__user-name'
    = link_to 'パーカスはすごい', '#', class: 'index-page-contents__feeds__feeds-area__feed-lists__feed__feed-title'
    %ul{class: 'index-page-contents__feeds__feeds-area__feed-lists__feed__tags'}
      %li{class: 'index-page-contents__feeds__feeds-area__feed-lists__feed__tags__tag'}パーカス
      %li{class: 'index-page-contents__feeds__feeds-area__feed-lists__feed__tags__tag'}ノリ
  .index-page-contents__feeds__feeds-area__feed-lists__feed__right
    articleモデル作成後、good&comment追加
