// ヘッダー
.main-header {
  width: 100%;
  position: fixed;
  border-bottom: solid 1px #888;
  padding: 0 40px;
  line-height: 60px;
  &__title {
    line-height: 40px;
    padding: 0 20px;
    margin-top: 10px;
    float: left;
    background-color: #f3981d;
    &__howl {
      color: #fff;
      font-size: 30px;
      font-family: 'Raleway', sans-serif;
    }
  }
  &__search {
    float: left;
  }
  &__lists {
    float: right;
    width: 500px;
    &__list {
      float: right;
      margin-left: 20px;
    }
  }
}

// メインコンテンツ

.index-page-wrapper {
  padding: 60px 40px 0 40px;
}

.index-page-contents {
  &__message-box {
    padding: 10px 0;
    &__message {
      font-size: 24px;
    }
  }
  &__articles {
    &__tabs {
      &__tab-lists {
        &__tab {
          float: left;
          padding: 5px 10px;
          background-color: #bbb;
          border-left: solid 1px #ddd;
        }
      }
    }
    &__articles-area {
      border-top: solid 1px #ddd;
      &__article-lists {
        height: 74px;
        &__article {
          padding: 5px 20px 5px 0;
          border-bottom: solid 1px #ddd;
          overflow: auto;
          width: 100%;
          height: 100%;
          &__left {
            width: 70%;
            overflow: auto;
            float: left;
            height: 100%;
          }
          &__user-name {
          }
          &__article-title {
            display: block;
            font-size: 16px;
            font-weight: 800;
          }
          &__tags {
            width: 85%;
            margin-top: 4px;
            background-color: #aaa;
            &__tag {
              float: left;
              padding: 1px 4px;
              background-color: #ddd;
              margin-right: 8px;
              border-radius: 6px;
              font-size: 8px;
              box-shadow: 0px 2px 1px rgba(0,0,0,0.6);
            }
          }
          &__right {
            width: 30%;
            float: right;
            height: 100%;
          }
        }
      }
    }
  }
}




