%li{class: 'index-page-contents__articles__articles-area__article-lists__article'}
  .index-page-contents__articles__articles-area__article-lists__article__left
    = link_to article.user.name, '#', class: 'index-page-contents__articles__articles-area__article-lists__article__user-name'
    が投稿しました。
    = link_to article.title, '#', class: 'index-page-contents__articles__articles-area__article-lists__article__article-title'
    %ul{class: 'index-page-contents__articles__articles-area__article-lists__article__tags'}
      - article.tags.each do |tag|
        %li{class: 'index-page-contents__articles__articles-area__article-lists__article__tags__tag'}#{tag.name}
  .index-page-contents__articles__articles-area__article-lists__article__right
    いいね数 #{article.goods.count}
