.wrapper
  = render 'header'
  .article-index-page-wrapper
    .article-index-page-contents
      .article-index-page-contents__message-box
        - if user_signed_in?
          %h3{class: 'article-index-page-contents__message-box__message'}ようこそ #{current_user.name} さん！
        - else
          %h3{class: 'article-index-page-contents__message-box__message'}ようこそ！
      .article-index-page-contents__articles
        .article-index-page-contents__articles__tabs
          %ul{class: 'article-index-page-contents__articles__tabs__tab-lists'}
            %li{class: 'article-index-page-contents__articles__tabs__tab-lists__tab'}
              = link_to 'すべての投稿', root_path, class: 'article-index-page-contents__articles__tabs__tab-lists__tab__all-articles'
        .article-index-page-contents__articles__articles-area.clearfix
          %ul{class: 'article-index-page-contents__articles__articles-area__article-lists'}
            = render @articles
